body {
  width: 100%;
  height: 100vh;
  font-family: 'Yrsa', serif;
}

footer {
  padding: 30px 0;
  background-color: #ffffff;
  position: bottom;
}

img {
  height: 200px;
  width: auto;
}

p {
  font-size: 20px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  transition: background 0.5s ease;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.nav-items {
  margin-right: 20px;
}

#header {
  background: url("../coverpic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

#projects {
  background-color: #F9FBF2;
}

a:hover {
  text-decoration: none;
}

.header {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  right: 0;
}

.header h1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
}

.title {
  margin-top: 2rem;
}

.description {
  height: 5.5rem;
  width: auto;
}

.about {
  background: url("../about3.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
  position: relative;
}

.about-text {
  position: absolute;
  top: 30%;
  background-color: rgba(255, 255, 255, 0.5)
}

.scrolled {
  /*transition: all 0.4s ease;*/
  background-color: #ffffff;
}
